<%= form_with(model: whitelist) do |form| %>
  <% if whitelist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(whitelist.errors.count, "error") %> prohibited this whitelist from being saved:</h2>

      <ul>
        <% whitelist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <br/>

  <div>
    <%= form.label :role %>
    <%= form.select :role, ['User', 'Admin'] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
