<div id = "<%= dom_id patient_detail %>", class="container mt-5">
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th style="text-align: center;">Patient id</th>
        <th style="text-align: center;">Program Name</th>
        <th style="text-align: center;">School Name</th>
        <th style="text-align: center;">Age</th>
        <th style="text-align: center;">Date</th>
        <th style="text-align: center;">Insurance</th>
        <th style="text-align: center;">Grade</th>
        <th style="text-align: center;"> </th>
        <th style="text-align: center;"> </th>
        <th style="text-align: center;"> </th>
      </tr>
    </thead>
    <tbody>
    
    <tr>
      <td style="text-align: center;"><%= patient_detail.PatientId %> </td>
      <td style="text-align: center;"><%= patient_detail.ProgramName %></td>
      <td style="text-align: center;"><%= patient_detail.SchoolName %></td>
      <td style="text-align: center;"><%= patient_detail.Age %></td>
      <td style="text-align: center;"><%= patient_detail.Date %></td>
      <td style="text-align: center;"><%= patient_detail.Insurance %></td>
      <td style="text-align: center;"><%= patient_detail.Grade %></td>
      <td><button type="button" class="Screening" id="screeningButton">Screening</button></td>
      <td><button type="button" class="PreventiveServices" id="preventiveservicesButton">Preventive Services</button></td>
      <td><button type="button" class="FollowUp" id="FollowUpButton">Follow Up</button></td>
<!--      <td><%#= button_to "Destroy this patients detail", patient_detail, method: :delete %></td>      -->
    </tr>
    </tbody>

</table>
    </div>

  <script>

    // Add a click event listener to the "Next" button
  screeningButton.addEventListener('click', function() {
    // Redirect to the screening.html.erb page
    window.location.href = '/screening';
  });
    // Add a click event listener to the "Next" button
  preventiveservicesButton.addEventListener('click', function() {
    // Redirect to the screening.html.erb page
    window.location.href = '/preventive_services';
  });
    // Add a click event listener to the "Next" button
  FollowUpButton.addEventListener('click', function() {
    // Redirect to the screening.html.erb page
    window.location.href = '/followup';
  });


</script>
