<div id="<%= dom_id patient_detail %>">
  <p>
    <strong>Patientid:</strong>
    <%= patient_detail.PatientId %>
  </p>

  <p>
    <strong>Programname:</strong>
    <%= patient_detail.ProgramName %>
  </p>

  <p>
    <strong>Schoolname:</strong>
    <%= patient_detail.SchoolName %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient_detail.Age %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= patient_detail.Date %>
  </p>

  <p>
    <strong>Insurance:</strong>
    <%= patient_detail.Insurance %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= patient_detail.Grade %>
  </p>

  <p>
    <strong>Pid:</strong>
    <%= patient_detail.PID %>
  </p>

</div>
