<div id="<%= dom_id event_detail %>">
  <p>
    <strong>Eventdate:</strong>
    <%= event_detail.EventDate %>
  </p>

  <p>
    <strong>School:</strong>
    <%= event_detail.School %>
  </p>

  <p>
    <strong>Consentfd:</strong>
    <%= event_detail.ConsentFD %>
  </p>

  <p>
    <strong>Denhrs:</strong>
    <%= event_detail.DenHrs %>
  </p>

  <p>
    <strong>Dentravelhrs:</strong>
    <%= event_detail.DenTravelHrs %>
  </p>

  <p>
    <strong>Dentravelmil:</strong>
    <%= event_detail.DenTravelMil %>
  </p>

  <p>
    <strong>Hyghours:</strong>
    <%= event_detail.HygHours %>
  </p>

  <p>
    <strong>Hygtravelmiles:</strong>
    <%= event_detail.HygTravelMiles %>
  </p>

  <p>
    <strong>Hygtravelhrs:</strong>
    <%= event_detail.HygTravelHrs %>
  </p>

  <p>
    <strong>Assistanthrs:</strong>
    <%= event_detail.AssistantHrs %>
  </p>

  <p>
    <strong>Assistanttravelhrs:</strong>
    <%= event_detail.AssistantTravelHrs %>
  </p>

  <p>
    <strong>Assistanttravelmil:</strong>
    <%= event_detail.AssistantTravelMil %>
  </p>

  <p>
    <strong>Otherhrs:</strong>
    <%= event_detail.OtherHrs %>
  </p>

  <p>
    <strong>Othertravelhrs:</strong>
    <%= event_detail.OtherTravelHrs %>
  </p>

  <p>
    <strong>Othertravelmiles:</strong>
    <%= event_detail.OtherTravelMiles %>
  </p>

  <p>
    <strong>Numberofsspdriven:</strong>
    <%= event_detail.NumberOfSSPDriven %>
  </p>

  <p>
    <strong>Totalmilesdriven:</strong>
    <%= event_detail.TotalMilesDriven %>
  </p>

  <p>
    <strong>Childscreened:</strong>
    <%= event_detail.ChildScreened %>
  </p>

  <p>
    <strong>Childreceivingsealant:</strong>
    <%= event_detail.ChildReceivingSealant %>
  </p>

  <p>
    <strong>Numberofsealed:</strong>
    <%= event_detail.NumberOfSealed %>
  </p>

  <p>
    <strong>Numberflouridevarnish:</strong>
    <%= event_detail.NumberFlourideVarnish %>
  </p>

  <p>
    <strong>Numberprophy:</strong>
    <%= event_detail.NumberProphy %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= event_detail.uid %>
  </p>

</div>
