<p style="color: green"><%= notice %></p>

<%= render @event_detail %>

<div>
  <%= link_to "Edit this event detail", edit_event_detail_path(@event_detail) %> |
  <%= link_to "Back to event details", event_details_path %>

  <%= button_to "Destroy this event detail", @event_detail, method: :delete %>
</div>
