<div id="<%= dom_id child_detail %>">
  <p>
    <strong>Prescribername:</strong>
    <%= child_detail.PrescriberName %>
  </p>

  <p>
    <strong>Screendate:</strong>
    <%= child_detail.ScreenDate %>
  </p>

  <p>
    <strong>Screencomment:</strong>
    <%= child_detail.ScreenComment %>
  </p>

  <p>
    <strong>Sealants:</strong>
    <%= child_detail.Sealants %>
  </p>

  <p>
    <strong>Untreateddecay:</strong>
    <%= child_detail.UntreatedDecay %>
  </p>

  <p>
    <strong>Treateddecay:</strong>
    <%= child_detail.TreatedDecay %>
  </p>

  <p>
    <strong>Referral:</strong>
    <%= child_detail.Referral %>
  </p>

  <p>
    <strong>Decayednum:</strong>
    <%= child_detail.DecayedNum %>
  </p>

  <p>
    <strong>Providername:</strong>
    <%= child_detail.ProviderName %>
  </p>

  <p>
    <strong>Providerdate:</strong>
    <%= child_detail.ProviderDate %>
  </p>

  <p>
    <strong>Firstsealednum:</strong>
    <%= child_detail.FirstSealedNum %>
  </p>

  <p>
    <strong>Secondsealednum:</strong>
    <%= child_detail.SecondSealedNum %>
  </p>

  <p>
    <strong>Otherpermnum:</strong>
    <%= child_detail.OtherPermNum %>
  </p>

  <p>
    <strong>Primarysealed:</strong>
    <%= child_detail.PrimarySealed %>
  </p>

  <p>
    <strong>Fluoridevarnish:</strong>
    <%= child_detail.FluorideVarnish %>
  </p>

  <p>
    <strong>Prophylaxes:</strong>
    <%= child_detail.Prophylaxes %>
  </p>

  <p>
    <strong>Preventativecomment:</strong>
    <%= child_detail.PreventativeComment %>
  </p>

  <p>
    <strong>Evaluatorsname:</strong>
    <%= child_detail.EvaluatorsName %>
  </p>

  <p>
    <strong>Evaluatordate:</strong>
    <%= child_detail.EvaluatorDate %>
  </p>

  <p>
    <strong>Evaluatorcomment:</strong>
    <%= child_detail.EvaluatorComment %>
  </p>

  <p>
    <strong>Retainedsealant:</strong>
    <%= child_detail.RetainedSealant %>
  </p>

  <p>
    <strong>Referreddt:</strong>
    <%= child_detail.ReferredDT %>
  </p>

  <p>
    <strong>Referredudt:</strong>
    <%= child_detail.ReferredUDT %>
  </p>

  <p>
    <strong>Sealantsrecd:</strong>
    <%= child_detail.SealantsRecd %>
  </p>

  <p>
    <strong>Sealnatsneeded:</strong>
    <%= child_detail.SealnatsNeeded %>
  </p>

  <p>
    <strong>Experienced:</strong>
    <%= child_detail.Experienced %>
  </p>

  <p>
    <strong>Untreateddecay:</strong>
    <%= child_detail.UntreatedDecay %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= child_detail.Services %>
  </p>

  <p>
    <strong>Orhealthstatus:</strong>
    <%= child_detail.ORHealthStatus %>
  </p>

</div>
