<!DOCTYPE html>
<html>
<head>
  <title>Screening</title>
  <style>
      /* Styling for the table */
      table {
          width: 70%;
          margin: 20px auto;
          border-collapse: collapse;
      }

      table, th, td {
          border: 1px solid black;
          text-align: center; /* Center text in table cells */
          padding: 5px; /* Add padding to table cells */
      }

      td input[type="text"] {
          width: 100%;
          height: 25px;
      }

      /* Styling for the buttons */
      .button {
          background-color: white;
          color: black;
          border: none;
          cursor: pointer;
      }
  </style>
</head>
<body>
<h1>Preventive Services</h1>

<form>
  <table>
    <thead>
    <tr>
      <th colspan="16">Chart for program use (Mark with an “S” the teeth where sealants were placed)</th>
    </tr>
    </thead>
    <tr>
      <!-- Create buttons for each tooth -->
      <% (1..3).each do |tooth_number| %>
        <td><%= tooth_number %></td>
      <% end %>
      <% (4..13).each do |tooth_number| %>
        <td>
            <%= tooth_number %><br><%= ('A'..'J').to_a[tooth_number - 4] %>
        </td>
      <% end %>
      <% (14..16).each do |tooth_number| %>
        <td>
          <%= tooth_number %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% (1..16).each do |tooth_number| %>
        <td>
        <input type="text" id="tooth_<%= tooth_number %>" name="tooth_<%= tooth_number %>" />
        </td>
      <% end %>
    </tr>
    <tr>
      <% (32).downto(17).each do |tooth_number| %>
        <td>
          <input type="text" id="tooth_<%= tooth_number %>" name="tooth_<%= tooth_number %>" />
        </td>
      <% end %>
    </tr>
    <tr>
      <% (32).downto(30).each do |tooth_number| %>
        <td>
          <%= tooth_number %>
        </td>
      <% end %>
      <% (29).downto(20).each do |tooth_number| %>
        <td>
            <%= ('T'.ord).downto('K'.ord).map(&:chr)[29 - tooth_number] %> <br> <%= tooth_number %>
        </td>
      <% end %>
      <% (19).downto(17).each do |tooth_number| %>
        <td>
            <%= tooth_number %>
        </td>
      <% end %>
    </tr>
  </table>
</form>

<br/><br/>

<form>
  <div>
    <label for="providerName">Provider's Name</label>
    <input type="text" id="providerName">
  </div>
  <br/>

  <div>
    <label for="date">Date</label>
    <input type="date" id="date" name="date">
  </div>
  <br/>

  <div>
    <label for="comment">Comment</label>
    <textarea id="comment" name="comment" rows="2" cols="20"></textarea>
  </div>
  <br/><br/>

  <div>
    <h3>Data for SEALS</h3>
  </div>

  <div>
    <label for="num1stMolarsSealed">Number of 1st molars sealed</label>
    <input type="text" id="num1stMolarsSealed">
  </div>
  <br/>

  <div>
    <label for="num2ndMolarsSealed">Number of 2nd molars sealed</label>
    <input type="text" id="num2ndMolarsSealed">
  </div>
  <br/>

  <div>
    <label for="numOtherSealed">Number of other permanent sealed</label>
    <input type="text" id="numOtherSealed">
  </div>
  <br/>

  <div>
    <label for="numPrimaryTeethSealed">Number of primary teeth sealed</label>
    <input type="text" id="numPrimaryTeethSealed">
  </div>
  <br/>

  <div>
    <label for="fluorideVarnish">Fluoride varnish provided</label>
    <select name="fluorideVarnish" id="fluorideVarnish">
      <option value="">--Please select an option--</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>
  <br/>

  <div>
    <label for="prophylaxes">Prophylaxes provided</label>
    <select name="prophylaxes" id="prophylaxes">
      <option value="">--Please select an option--</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>
  <br/>
</form>

<br/>
  <button type="button" class="FollowUp" id="FollowUpButton">Follow Up</button>

  <script>
      FollowUpButton.addEventListener('click', function() {
          // Redirect to the screening.html.erb page
          window.location.href = '/followup';
      });
  </script>

</body>
</html>
