<p style="color: green"><%= notice %></p>

<%= render @child_detail %>

<div>
  <%= link_to "Edit this child detail", edit_child_detail_path(@child_detail) %> |
  <%= link_to "Back to child details", child_details_path %>

  <%= button_to "Destroy this child detail", @child_detail, method: :delete %>
</div>
