<tr class="hide-row">
  <% (32).downto(30).each do |tooth_number| %>
    <td>
      <%= tooth_number %>
    </td>
  <% end %>
  <% (29).downto(20).each do |tooth_number| %>
    <td>
        <%= ('T'.ord).downto('K'.ord).map(&:chr)[29 - tooth_number] %> <br> <%= tooth_number %>
    </td>
  <% end %>
  <% (19).downto(17).each do |tooth_number| %>
    <td>
        <%= tooth_number %>
    </td>
  <% end %>
</tr>



<!--        second screening table starts here-->
<tr class="hide-row">
  <% (32).downto(17).each do |tooth_number|%>
    <td data-cell="popup<%= tooth_number %>">
      <% teeth_screening = JSON.parse(@child_data1&.TeethScreening || '{}') %>
      <% selected_value = teeth_screening[tooth_number.to_s] %>
<button class="button" id="ScreeningButton<%= tooth_number %>" data-popup="popup<%= tooth_number %>" onclick="openPopup('popup<%= tooth_number %>')">
  <%= selected_value.present? ? selected_value : 'Make a Selection' %>
    </td>
  <% end %>
</tr>

<!--        second preventative table starts here-->
<tr class="hide-row">
  <% (32).downto(17).each do |tooth_number| %>
    <td>
      <% if tooth_number == 30 || tooth_number == 19 %>
        <button class="button" data-popup="popup<%= tooth_number %>" onclick="openPopup('popup<%= tooth_number %>')">
        Make a Selection for Preventative
        </button>
      <% end %>
    </td>
  <% end %>
</tr>
<!--        second follow up table starts here-->
<tr class="hide-row">
  <% (32).downto(17).each do |tooth_number| %>
    <td>
      <% if tooth_number == 30 || tooth_number == 19 %>
        <button class="button" data-popup="popup<%= tooth_number %>" onclick="openPopup('popup<%= tooth_number %>')">
        Make a Selection for Follow Up
        </button>
      <% end %>
    </td>
  <% end %>
</tr>